<a href="https://colab.research.google.com/github/manni-ramu/Credit-Card-Fraud-Detection-Using-ML/blob/main/Credit_Card_Fraud_Detection_Using_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing dependencies

In [52]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [21]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [14]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
170458,120193.0,2.032686,-0.070219,-1.093517,0.467291,-0.321890,-1.505390,0.147641,-0.345532,0.724209,...,0.283248,0.955811,0.067464,0.417168,0.157534,-0.121672,-0.017449,-0.055632,1.00,0.0
170459,120193.0,-0.454479,1.201642,0.081936,-0.695024,0.410704,-1.057838,1.041520,-0.210913,0.225049,...,-0.312785,-0.531973,0.083066,-0.005112,-0.375916,0.150884,0.476890,0.223036,13.98,0.0
170460,120194.0,2.094119,-1.713483,-0.778604,-1.611163,-1.361482,-0.085073,-1.331477,0.037524,-1.286570,...,-0.048644,0.152273,0.232052,0.681825,-0.346774,-0.233445,0.006162,-0.035610,88.00,0.0
170461,120194.0,-3.644269,-0.747473,-0.267792,-0.807058,-0.947888,2.388635,-2.097686,2.285523,0.114737,...,-0.408052,0.103611,0.656432,-0.966815,-0.365917,-0.226191,-0.090287,-0.423226,53.86,0.0
170462,120194.0,-0.085730,1.014485,-0.708676,-0.798981,0.964767,-0.327944,0.716129,0.186059,0.208413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170463 entries, 0 to 170462
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    170463 non-null  float64
 1   V1      170463 non-null  float64
 2   V2      170463 non-null  float64
 3   V3      170463 non-null  float64
 4   V4      170463 non-null  float64
 5   V5      170463 non-null  float64
 6   V6      170463 non-null  float64
 7   V7      170463 non-null  float64
 8   V8      170463 non-null  float64
 9   V9      170463 non-null  float64
 10  V10     170463 non-null  float64
 11  V11     170463 non-null  float64
 12  V12     170463 non-null  float64
 13  V13     170463 non-null  float64
 14  V14     170463 non-null  float64
 15  V15     170463 non-null  float64
 16  V16     170463 non-null  float64
 17  V17     170463 non-null  float64
 18  V18     170462 non-null  float64
 19  V19     170462 non-null  float64
 20  V20     170462 non-null  float64
 21  V21     170462 non-null  float64
 22  V22     170462 non-null  float64
 23  V23     170462 non-null  float64
 24  V24     170462 non-null  float64
 25  V25     170462 non-null  float64
 26  V26     170462 non-null  float64
 27  V27     170462 non-null  float64
 28  V28     170462 non-null  float64
 29  Amount  170462 non-null  float64
 30  Class   170462 non-null  float64
dtypes: float64(31)
memory usage: 40.3 MB

In [25]:
credit_card_data.isnull().sum()
#print("Missing values:\n", missing_values)

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [27]:
data = credit_card_data.fillna(credit_card_data.mode().iloc[0])
print("Cleaned dataset:\n", data.tail())

Cleaned dataset:
             Time        V1        V2        V3        V4        V5        V6  \
170458  120193.0  2.032686 -0.070219 -1.093517  0.467291 -0.321890 -1.505390
170459  120193.0 -0.454479  1.201642  0.081936 -0.695024  0.410704 -1.057838
170460  120194.0  2.094119 -1.713483 -0.778604 -1.611163 -1.361482 -0.085073
170461  120194.0 -3.644269 -0.747473 -0.267792 -0.807058 -0.947888  2.388635
170462  120194.0 -0.085730  1.014485 -0.708676 -0.798981  0.964767 -0.327944

              V7        V8        V9  ...       V21       V22       V23  \
170458  0.147641 -0.345532  0.724209  ...  0.283248  0.955811  0.067464
170459  1.041520 -0.210913  0.225049  ... -0.312785 -0.531973  0.083066
170460 -1.331477  0.037524 -1.286570  ... -0.048644  0.152273  0.232052
170461 -2.097686  2.285523  0.114737  ... -0.408052  0.103611  0.656432
170462  0.716129  0.186059  0.208413  ... -0.262581 -0.816264  0.140304

             V24       V25       V26       V27       V28  Amount  Class
170458  0.417168  0.157534 -0.121672 -0.017449 -0.055632    1.00    0.0
170459 -0.005112 -0.375916  0.150884  0.476890  0.223036   13.98    0.0
170460  0.681825 -0.346774 -0.233445  0.006162 -0.035610   88.00    0.0
170461 -0.966815 -0.365917 -0.226191 -0.090287 -0.423226   53.86    0.0
170462  0.357827  0.186423  0.096544 -0.035866  0.018495    1.00    0.0

[5 rows x 31 columns]

In [28]:
# distribution of legit trasactions and fraudulent transactions
data['Class'].value_counts()

0.0    170103
1.0       360
Name: Class, dtype: int64

# This datset if highly unbalanced
# 0 --> Normal Transaction
# 1 --> Fraudulent transaction

In [29]:
#Separating data for analysis
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [30]:
print(legit.shape)
print(fraud.shape)

(170103, 31)
(360, 31)

In [31]:
# Statistical measures of the data
legit.Amount.describe()

count    170103.000000
mean         87.272002
std         246.067185
min           0.000000
25%           5.490000
50%          21.890000
75%          76.500000
max       19656.530000
Name: Amount, dtype: float64

In [32]:
fraud.Amount.describe()

count     360.000000
mean      111.576722
std       227.309252
min         0.000000
25%         1.000000
50%        11.385000
75%       104.007500
max      1809.680000
Name: Amount, dtype: float64

In [33]:
# compare the values for both  transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,60954.436285,-0.159027,0.032193,0.513948,0.108071,-0.168484,0.061850,-0.066521,0.031054,0.025195,...,0.030372,-0.030393,-0.084402,-0.022560,0.009386,0.092777,0.012642,0.001681,0.002371,87.272509
1.0,56649.477778,-6.026758,4.406926,-7.976571,4.889177,-4.367960,-1.436827,-7.017053,0.745264,-2.863575,...,0.405161,0.793171,-0.025930,-0.037556,-0.073778,0.080099,0.038996,0.182902,0.052482,111.576722

In [ ]:
#Under-Sampling
# Build a sample dataset containg similar distribution of normal trasaction and Fradulent Trasactions
# Number of Fradulent Trasactions --> 360

In [34]:
legit_sample = legit.sample(n=360)

In [39]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)
# axis = 0 --> row
# axis = 1 --> column

In [40]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
135937,81469.0,1.224866,0.379854,0.331749,1.094763,-0.283870,-1.044011,0.292318,-0.190488,-0.022315,...,-0.474521,-1.473434,0.228324,0.286599,0.227338,-0.852798,0.005614,0.028991,11.59,0.0
9742,14480.0,-0.912072,-0.550877,1.977041,-0.522910,-0.097213,0.042502,-0.427820,-0.221025,-0.000313,...,0.273293,1.387357,0.174927,0.040587,-0.425062,-0.083253,-0.186944,-0.044884,39.00,0.0
49390,44037.0,-1.232402,-1.442990,1.268071,-2.442421,-1.519535,0.750431,1.164466,-0.082856,-2.700998,...,-0.075319,-0.648930,0.816044,-0.857864,0.401927,-0.429181,-0.070143,0.093479,435.70,0.0
146925,87966.0,-2.530313,2.193971,-0.671004,-2.648718,-0.376203,-1.709888,0.515846,0.662222,0.909970,...,-0.356048,-0.954314,0.096912,-0.063654,0.192265,0.394127,0.379129,0.329347,5.00,0.0
56599,47499.0,-1.248437,-1.540394,2.004978,-2.768441,-1.230724,1.771610,0.344573,-0.004956,-0.791594,...,-0.555548,-0.620762,-0.286241,-1.301434,0.640227,-0.370624,-0.029146,-0.260265,300.00,0.0

In [41]:
new_dataset['Class'].value_counts()

0.0    360
1.0    360
Name: Class, dtype: int64

In [42]:
new_dataset.groupby('Class').mean()
#Important step --> As we get know if we got a good sample or bad

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,61408.311111,-0.140411,-0.022124,0.432514,0.010467,-0.218929,0.123486,-0.154169,-0.002946,0.052357,...,0.073568,-0.012489,-0.098352,-0.026621,-0.049030,0.091155,0.021253,0.008340,-0.003546,94.890778
1.0,56649.477778,-6.026758,4.406926,-7.976571,4.889177,-4.367960,-1.436827,-7.017053,0.745264,-2.863575,...,0.405161,0.793171,-0.025930,-0.037556,-0.073778,0.080099,0.038996,0.182902,0.052482,111.576722

In [43]:
#Splitting the data into  features and Targets

In [44]:
X = new_dataset.drop(columns='Class', axis = 1)
Y = new_dataset['Class']

In [45]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
135937,81469.0,1.224866,0.379854,0.331749,1.094763,-0.283870,-1.044011,0.292318,-0.190488,-0.022315,...,-0.177349,-0.474521,-1.473434,0.228324,0.286599,0.227338,-0.852798,0.005614,0.028991,11.59
9742,14480.0,-0.912072,-0.550877,1.977041,-0.522910,-0.097213,0.042502,-0.427820,-0.221025,-0.000313,...,0.096321,0.273293,1.387357,0.174927,0.040587,-0.425062,-0.083253,-0.186944,-0.044884,39.00
49390,44037.0,-1.232402,-1.442990,1.268071,-2.442421,-1.519535,0.750431,1.164466,-0.082856,-2.700998,...,0.709255,-0.075319,-0.648930,0.816044,-0.857864,0.401927,-0.429181,-0.070143,0.093479,435.70
146925,87966.0,-2.530313,2.193971,-0.671004,-2.648718,-0.376203,-1.709888,0.515846,0.662222,0.909970,...,0.209071,-0.356048,-0.954314,0.096912,-0.063654,0.192265,0.394127,0.379129,0.329347,5.00
56599,47499.0,-1.248437,-1.540394,2.004978,-2.768441,-1.230724,1.771610,0.344573,-0.004956,-0.791594,...,-0.403631,-0.555548,-0.620762,-0.286241,-1.301434,0.640227,-0.370624,-0.029146,-0.260265,300.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157918,110617.0,-1.101035,-1.674928,-0.573388,5.617556,0.765556,0.440607,1.934740,-1.019788,-0.193244,...,-0.038314,-0.412526,-0.208823,0.344833,1.091435,-0.686513,0.075809,0.033865,-0.832855,635.10
163149,115691.0,-1.550273,1.088689,-2.393388,1.008733,-1.087562,-1.104602,-2.670503,0.147655,-0.978626,...,0.327490,0.802316,1.037105,0.095815,-0.320191,-0.080731,0.091012,0.024928,-0.077820,17.06
163586,116067.0,0.949241,1.333519,-4.855402,1.835006,-1.053245,-2.562826,-2.286986,0.260906,-0.895366,...,0.424608,0.306598,-0.854627,0.101177,-0.281497,0.024444,-0.107944,0.625289,0.315677,65.00
167184,118532.0,-5.961457,5.313382,-6.674320,6.028975,-1.387560,0.670638,-4.128987,-4.765894,-1.005259,...,-1.116581,5.556642,-1.501808,1.355172,0.141093,0.077913,0.473988,0.287129,1.468653,105.89
167305,118603.0,-6.677212,5.529299,-7.193275,6.081321,-1.636071,0.500610,-4.640770,-4.339840,-0.950036,...,-1.118687,5.563301,-1.608272,0.965322,0.163718,0.047531,0.466165,0.278547,1.471988,105.89

In [46]:
Y

135937    0.0
9742      0.0
49390     0.0
146925    0.0
56599     0.0
         ...
157918    1.0
163149    1.0
163586    1.0
167184    1.0
167305    1.0
Name: Class, Length: 720, dtype: float64

In [47]:
#Split the data into Training data and Testing data

In [48]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
#Features present in X
#Labels present in Y

In [49]:
print(X.shape, X_train.shape, X_test.shape)

(720, 30) (576, 30) (144, 30)

In [50]:
#Model training --> Logistic Regression for binary classfication problems

In [53]:
model = LogisticRegression()

In [54]:
# Training the Logistic Regression with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [55]:
# Model Evaluation
#Accuracy score

In [56]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)

In [57]:
#Accuracy score on Training data:
print('Accuracy on Training data:', training_data_accuracy)

Accuracy on Training data: 0.9513888888888888

In [58]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [59]:
#Accuracy score on Test data:
print('Accuracy on Test data:', test_data_accuracy)

Accuracy on Test data: 0.9583333333333334